###############################################################################
# .env
# This file is used to set environment variables for the Open edX platform.
# It should be copied to .env and modified as needed for your local 
# development environment.
###############################################################################
